[submodule "external/circle-stdlib"]
	path = external/circle-stdlib
	url = https://github.com/smuehlst/circle-stdlib
	ignore = dirty
[submodule "external/munt"]
	path = external/munt
	url = https://github.com/munt/munt.git
	ignore = dirty
[submodule "external/inih"]
	path = external/inih
	url = https://github.com/benhoyt/inih.git
	ignore = dirty
[submodule "external/fluidsynth"]
	path = external/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git
	ignore = dirty
[submodule "external/libadlmidi"]
	path = external/libadlmidi
	url = https://github.com/Wohlstand/libADLMIDI.git
	ignore = dirty
[submodule "external/libopnmidi"]
	path = external/libopnmidi
	url = https://github.com/Wohlstand/libOPNMIDI.git
	ignore = dirty
